<mat-drawer-container class="container">
  <mat-drawer *ngIf="authService.isLoggedIn()" class="side-nav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLinkActive="active" style="height: 80px">
        <a matline routerLink="/schedule/week"
           style="color: whitesmoke; height: 100%; width: 100%; display: flex;
        align-items: center; justify-content: flex-start">
          <mat-icon style="margin-right: 32px;">calendar_today</mat-icon>
          <span>Schedule Week</span>
        </a>
      </mat-list-item>

      <mat-list-item routerLinkActive="active" style="height: 80px">
        <a matline routerLink="/report/mark"
           style="color: whitesmoke; height: 100%; width: 100%; display: flex;
        align-items: center; justify-content: flex-start">
          <mat-icon style="margin-right: 32px;">bar_chart</mat-icon>
          <span>Report Mark</span>
        </a>
      </mat-list-item>

      <mat-list-item routerLinkActive="active" style="height: 80px">
        <a matline routerLink="/schedule/exam"
           style="color: whitesmoke; height: 100%; width: 100%; display: flex;
        align-items: center; justify-content: flex-start">
          <mat-icon style="margin-right: 32px;">assignment</mat-icon>
          <span>Schedule Exam</span>
        </a>
      </mat-list-item>
    </mat-nav-list>

    <div style="display: flex; height: 60%; align-items: flex-end; justify-content: center">
      <a routerLink="/student-info" style="color: whitesmoke;flex-grow: 1; text-align: center" mat-button
         >Welcome, {{userFullName}}</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar *ngIf="authService.isLoggedIn()">
      {{getToolbarTitle()}}
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
